form {
    height: 10%;
    border: 10% solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  h1 {
    font-size: 50px;
    color: blueviolet;
    text-align: center;
    padding: 2px;
    margin: 10px;
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px;
}
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: 100%;
    padding: 10px;
    background-color: #f44336;
  }
  .container {
    height: 10px;
    margin: 25%;
    width: 50%;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 10%;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 30px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      height: 10px;
      width: 100%;
    }
  }

  body {
    background-color: lightblue;
  }